body {
    background-color: #6d6b6a;
    font-family: Courier, monospace;
    color: black;
    font-size: 24px;
}

h1 {
    font-family: Courier, monospace;
    color: #fff;
    font-size: 36px;
}

h2 {
    font-family: Courier, monospace;
    color: #99cccc;
    font-size: 24px;
    text-align: center;
}

.picture-cj,
.picture-mo {
    display: inline-block;
    height: 420px;
    width: 260px;
    margin-left: 300px;
    margin-right: 200px;
}
.picture-mo {
    height: 400px !important;
    width: 290px !important;
}